/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --button-background-primary: #652CD1;
  --button-border: #845EEE;
  --background-color: #121826;
  --card-background: #212936;
  --button-background-secondary: #394150;
  --card-border-color: #4D5562;
  --font-color-secondary: #A1A1A9;
  --font-color-primary: #E5E7EB;
}

.fieldset {
  border: none;
}

.input {


  &::placeholder {

  }
}

.button {

}

.toggle-button {

}

.heading {
  font-size: 20px;
}

.tab-text {
  font-size: 14px;
}

.body-text {
  font-size: 16px;
}

.label, .small-text {
  font-size: 12px;
}
