/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}


.fieldset {
  border: none;
}

.input {


  &::placeholder {

  }
}

.button {

}

.toggle-button {

}

